
::-webkit-scrollbar{
    width: 4px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
-webkit-background-clip: text; /* For Chrome, Safari, and Edge */
background-clip: text;         /* For Firefox */
color: transparent;            /* Makes text transparent so gradient shows through */
}
::-webkit-scrollbar-thumb {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
-webkit-background-clip: text; /* For Chrome, Safari, and Edge */
background-clip: text;         /* For Firefox */
color: transparent;            /* Makes text transparent so gradient shows through */
    border-radius: 4px;
    width: 4px;
  }
  #breaker{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

  }
  .color{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
-webkit-background-clip: text; /* For Chrome, Safari, and Edge */
background-clip: text;         /* For Firefox */
color: transparent;            /* Makes text transparent so gradient shows through */
  }
  #about-content a{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
-webkit-background-clip: text; /* For Chrome, Safari, and Edge */
background-clip: text;         /* For Firefox */
color: transparent;            /* Makes text transparent so gradient shows through */
  }
  .cv a button{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  }
  .service-img img{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    display: inline-block;
  z-index: 2;
  position: relative;
  margin: 20px;
  border-radius: 30%;
  padding: 10px;
  border: 0px solid #FDB931;
  box-shadow: 0px 0px 0px 0px #FDB931;
  height: 100px;
  transition: all .8s ease;
  }
  .service:hover .service-img img{
    box-shadow:0px 0px 0px 400px #FDB931;
}
.html-progress{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

}
.js-progress{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

}
.adobe-progress{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

}
.php-progress{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

}
.jquery-progress{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

}
.seo-progress{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
.portfolio-text h2{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
-webkit-background-clip: text; /* For Chrome, Safari, and Edge */
background-clip: text;         /* For Firefox */
color: transparent;            /* Makes text transparent so gradient shows through */
}
.portfolio-text button{
    color: #D1B464;
    border: 1.5px solid #D1B464;
}
.portfolio-text button::before{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

}
.portfolio-image img::before{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
-webkit-background-clip: text; /* For Chrome, Safari, and Edge */
background-clip: text;         /* For Firefox */
color: transparent;            /* Makes text transparent so gradient shows through */
}
.blog-date{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
-webkit-background-clip: text; /* For Chrome, Safari, and Edge */
background-clip: text;         /* For Firefox */
color: transparent;            /* Makes text transparent so gradient shows through */
}
form button{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
-webkit-background-clip: text; /* For Chrome, Safari, and Edge */
background-clip: text;         /* For Firefox */
color: transparent;            /* Makes text transparent so gradient shows through */
}
@media all and (max-width: 550px) and (min-width: 5px){
    .service:hover .service-img img{
        box-shadow:0px 0px 0px 0px radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-background-clip: text; /* For Chrome, Safari, and Edge */
    background-clip: text;         /* For Firefox */
    color: transparent;            /* Makes text transparent so gradient shows through */
    }
}
.navigation-links a {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
-webkit-background-clip: text; /* For Chrome, Safari, and Edge */
background-clip: text;         /* For Firefox */
color: transparent;            /* Makes text transparent so gradient shows through */
}
.navigation-links a:hover{
   color: #D1B464;
}
.navigation-links a::before {
    color: #D1B464;
}
h3{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-background-clip: text; /* For Chrome, Safari, and Edge */
    background-clip: text;         /* For Firefox */
    color: transparent;            /* Makes text transparent so gradient shows through */
    transition: all .4s ease;
  font-size: 35px;
  font-family: raleway;
}
.tab-button[aria-selected="true"]{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-background-clip: text; /* For Chrome, Safari, and Edge */
    background-clip: text;         /* For Firefox */
    color: transparent;            /* Makes text transparent so gradient shows through */
    transition: all .4s ease;

}
.tab-highlight {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

}
.tab-panel h3 {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-background-clip: text;
    background-clip: text;         
    color: transparent;            
    transition: all .4s ease;
}
.navigation-links a{
    padding:10px;
    text-decoration: none;
    color: #285f91;
    font-size: 30px;
    opacity: .7;
    transition: all .4s ease;
}
.navigation-links a:hover{
    opacity: 1;
    color: rgb(100, 255, 218);
}
.navigation-links a::before{
    content: "";
    position: absolute;
    top:50%;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%,-50%);
    align-items: center;
    font-size: 3em;
    font-weight: 400;
    font-family: monoton;
    color:rgb(100, 255, 218);
    background-clip: text;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 100px;
    transition: all .4s ease;
}
.navigation-links a:hover::before{
    content: attr(data-text);
    opacity: 1;
    letter-spacing: 10px;
}